<%= form_tag root_path, method: :get do %>
	<%= label_tag :t_limit, "Tweet Per Account Limit:" %>

	<%= number_field_tag :t_limit %>

	<br />

	<%= submit_tag %>

<% end %>



<!-- <h1>Homepage</h1> -->

<!-- <%= render 'form' %> -->

<% if !current_user.nil? %>
  <p>
    <%= form_for :tweet, url: tweets_path, method: :post do |f| %>
      <%= f.text_field :message %>
      <%= f.submit "Send Tweet" %>
    <% end %>
  </p>
  <% else %>
    <p>You must log in to send a tweet.</p>
<% end %>

<!--
<a class="twitter-timeline" href="https://twitter.com/HD_85" data-widget-id="652496389197328384">Tweets by @HD_85</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
 -->