<% if !current_user.nil? %>
  <button class="refresh-button">
    <%= "Load New Tweets" %>
  </button>
<div class='container-tweets'>
  <% @tweets.each do |t| %>
    <blockquote class="twitter-tweet" id="<%="#{t.id}"%>">
      <p>
        <span><%= image_tag "#{t.user.profile_image_url}" %></span><b><%= link_to "#{t.user.name} @#{t.user.screen_name}", "http://www.twitter.com/#{t.user.screen_name}", target: "_blank" %></b> -
        <%= time_ago_in_words(t.created_at) %><br />
        <%= twitter_text(t.text) %><br /></p>
        <% if t.media? %>
          <div id="thumbnail"><%= image_tag "#{t.media[0].media_url.origin}#{t.media[0].media_url.path}" %></div>
        <% end %>
      <p>
        Retweeted: <%= t.retweet_count %> Favorited: <%= t.favorite_count %>
      </p>
    </blockquote>
<% end %>
  <%= button_to "Sign Out", signout_path, class: "sign-out-button", method: :get %>
<% else %>
   <%= button_to "Sign In", new_signin_path, form: {target: "_top"}, class: "sign-in-button", method: :get %>
<% end %>
  </div>
